main{
    h1{
        text-align: center;
        padding: 1em;
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        font-size: 2.4em;
    }

    .contNosotros{
        
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 15px;
        font-family: 'Kanit', sans-serif;
        
        img{
            width: 16em;
        }

        .contNosotros1{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(149, 213, 178);
            gap: 10px;
            padding: 10px;
            border-radius: 20px;
        
            @media (min-width: 500px){ 
            display: flex;
            flex-direction: row;
            align-items: center;
            }
        }

        .contNosotros2{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(149, 213, 178);
            gap: 10px;
            padding: 10px;
            margin-bottom: 50px;
            border-radius: 20px;
        
            @media (min-width: 500px){
            display: flex;
            flex-direction: row-reverse;
            align-items: center;   
            }
        }
    }
}