main{
    h1{
        text-align: center;
        padding: 1em;
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        font-size: 2.4em;
    }

    .contNosotros{
        
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        
        img{
            width: 16em;
        }

        .contNosotros1{
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: rgb(61, 143, 106);
        padding: 5px;
        }

        .contNosotros2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        }
    }
}