@import "fuentes";
@import "generales";
@import "index";
@import "footer";
@import "contacto";
@import "productos";
@import "nosotros";
@import "comoComprar";
@import "compra";

@media (min-width:500px){
    nav ul li{
        display: inline-block;
    }

    .redes img{
        width: 40px;
        height: 40px;
    }
}
