@import "fuentes";
@import "generales";
@import "index";


*{
    padding: 0;
    margin: 0;
}




.carousel-inner{
    width: 100%;
}

.cuerpo div img{
     width: 100%;
     height: 20em;
}


h1{
    font-size: xx-large;
    font-weight: 600;
    
}

.destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.destacados h1{
    font-size: 5vw;
}

.destacados h3{
    font-size: 4vw;
}

.destacados div{
    width: 35%;
    height: auto;
}

.destacados img{
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

.tutorial{
    grid-area: tutorial;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.tutorial iframe{
    width: 70%;
}

.datos{
    display: grid;
    grid-template-areas: 
    "titulo"
    "formulario"
    "contacto";
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.titulo{
    grid-area: titulo;
    font-size: 1.5em;
    text-align: center;
}

.contacto{
    grid-area: contacto;
}

.formulario{
    grid-area: formulario;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 4fr;
    gap:5px;
}

footer{
    background-color: rgb(69, 192, 99);
    font-family:'Kantumruy Pro', sans-serif;
    color: white;
}

.categorias-contactanos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.categorias{
    font-size: 2vw;
    display: flex;
    flex-direction: column;
}

strong{
    font-size: x-large;
    font-size: 3vw;
}



.categorias ul li a{
    color: white;
    text-decoration: none;
}

.contactanos{
    font-size: 2vw;
}
.contactanos p{
    margin-bottom: 0;
}

.seguir{
    text-align: center;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconosRedes{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.redes img{
    width: 35px;
    height: 35px;
}

.mapa{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa iframe{
    width: 65%;
    height: 190px;
}

@media (min-width:500px){
    nav ul li{
        display: inline-block;
    }

    .navegador{
        padding-top: 70px;
    }

    .logo img{
        width: 120px;
        height: 120px;
    }

    .redes img{
        width: 40px;
        height: 40px;
    }

    .destacados{
        display: grid;
        grid-template-areas: 
        "titulo   titulo"
        "maceta  nutripack"
        "sustrato panel";
        justify-items: center;
    }

    .titulo{
        grid-area: titulo;
    }

    .maceta{
        grid-area: maceta;
    }

    .nutripack{
        grid-area: nutripack;
    }

    .sustrato{
        grid-area: sustrato;
    }

    .panel{
        grid-area: panel;
    }

    .datos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 300;
    }
    
    .contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        margin: 50px;
    }
    
    .formulario{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 4fr;
        gap:5px;
        margin: 50px;
    }

    



}
