@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(183, 228, 199);
}

.navbar {
  margin-top: 0;
  padding-top: 0 !important;
  border: solid 1px black;
}
.navbar .container-fluid {
  background-color: whitesmoke;
  padding-top: 0;
  margin-top: 0%;
  width: 100%;
}
.navbar .container-fluid img {
  width: 5.5em;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar .container-fluid img {
    width: 7.5em;
  }
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: xx-large;
  font-weight: 600;
}

.cuerpo {
  background-color: rgb(207, 225, 185);
}
.cuerpo h1 {
  text-align: center;
  padding: 1em;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 2.4em;
}
.cuerpo .carritoLienzo {
  position: fixed;
}
.cuerpo .imgnormalizada img {
  width: auto;
  height: 250px;
  max-height: 250px;
}
.cuerpo .imgnormalizada .nutripack {
  background-color: black;
}
.cuerpo .productosDestacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.cuerpo .productosDestacados .card img {
  height: 286px;
}
@media (min-width: 600px) {
  .cuerpo .productosDestacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 15px;
  }
}

.tutoriales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tutoriales .tutorial {
  width: 75%;
  margin: 50px;
  height: 300px;
}

footer {
  padding-top: 30px;
  background-color: rgb(61, 143, 106);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  color: white;
}
footer .categorias-contactanos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .categorias-contactanos .categorias {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
}
footer .categorias-contactanos .categorias strong {
  font-size: 3vw;
}
footer .categorias-contactanos .categorias a {
  color: white;
  text-decoration: none;
}
footer .categorias-contactanos .contactanos {
  font-size: 2vw;
}
footer .categorias-contactanos .contactanos strong {
  font-size: 3vw;
}
footer .categorias-contactanos .contactanos p {
  margin-bottom: 0;
}
footer .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .redes .iconosRedes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .redes .iconosRedes img {
  width: 35px;
  height: 35px;
}

.datos {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 500px) {
  .datos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 300;
  }
}

.titulo {
  font-size: 1.5em;
  text-align: center;
}

.contacto {
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .contacto {
    display: flex;
    flex-direction: column;
  }
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 4fr;
  gap: 5px;
  padding: 20px;
  margin: 50px;
  font-family: "Kanit", sans-serif;
}
.formulario button {
  border-radius: 5px;
  background-color: rgb(187, 242, 187);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .mapa {
  margin: 50px;
  height: 220px;
  width: 75%;
}

body {
  overflow-x: hidden;
}

.cuerpoProductos {
  font-family: "Kanit", sans-serif;
}
.cuerpoProductos h1 {
  text-align: center;
  padding: 1em;
  font-weight: 400;
  font-size: 2.4em;
}
.cuerpoProductos .contenedorIconoCarrito {
  margin-right: 20px;
}
.cuerpoProductos .contenedorIconoCarrito .iconoCarrito {
  font-size: 25px;
}
.cuerpoProductos .contProd {
  display: flex;
  gap: 7px;
}
.cuerpoProductos .contProd .card-img-top {
  width: 286px;
  height: 180px;
}
.cuerpoProductos .contenedorCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuerpoProductos .contenedorCarrito .parrafoCarrito {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-weight: 400;
}
.cuerpoProductos .contenedorCarrito .contenedorOffcanvas {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cuerpoProductos .botonesCarrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

main h1 {
  text-align: center;
  padding: 1em;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 2.4em;
}
main .contNosotros {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 15px;
  font-family: "Kanit", sans-serif;
}
main .contNosotros img {
  width: 16em;
}
main .contNosotros .contNosotros1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(149, 213, 178);
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
}
@media (min-width: 500px) {
  main .contNosotros .contNosotros1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
main .contNosotros .contNosotros2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(149, 213, 178);
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
}
@media (min-width: 500px) {
  main .contNosotros .contNosotros2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.contComprar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contComprar p {
  padding: 10px;
  text-align: center;
  font-family: "Kanit", sans-serif;
}
.contComprar .cajasComprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(187, 242, 187);
  border-radius: 20px;
}
.contComprar .linea {
  background-color: grey;
  height: 1px;
  width: 250px;
  margin: 0 auto 20px auto;
}

.imagenCarrito {
  width: 180px;
}

.botonActivar {
  opacity: 0;
}

@media (min-width: 500px) {
  nav ul li {
    display: inline-block;
  }
  .redes img {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=style.css.map */